<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<meta charset="UTF-8">
<head>
    <title>내 정보</title>
    <script th:src="@{/js/myProfile.js}"></script>
    <link rel="stylesheet" th:href="@{/css/myProfile.css}">
</head>
<body>
<div layout:fragment="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>내 정보</h1>
        </div>

        <section class="section profile">
            <div class="row d-flex justify-content-between">
                <!-- 좌측 프로필 영역 -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <div th:if="${teacherInfo.teacherImgName != null}">
                                <img th:src="@{/resources/static/uploadFiles/profileImageUpload/}{${teacherInfo.teacherImgName}}"
                                     alt="Profile" class="rounded-circle">
                            </div>
                            <div th:if="${teacherInfo.teacherImgName == null}">
                                <img th:src="@{/img/default_profile.jpg}"
                                     alt="Default Profile" class="rounded-circle">
                            </div>
                            <h2 th:text="${teacherInfo.teacherName}"></h2>
                        </div>
                    </div>
                </div>

                <!-- 우측 정보 수정 및 비밀번호 변경 영역 -->
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">
                                        내 정보
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                        정보 수정
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">
                                        비밀번호 변경
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <!-- 내 정보 -->
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <h5 class="card-title">상세정보</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">이름</div>
                                        <div class="col-lg-9 col-md-8" th:text="${teacherInfo.teacherName}"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">학원</div>
                                        <div class="col-lg-9 col-md-8" th:text="${teacherInfo.academyName}"></div>
                                    </div>

                                    <!--                                    <div class="row">-->
                                    <!--                                        <div class="col-lg-3 col-md-4 label">직급</div>-->
                                    <!--                                        <div class="col-lg-9 col-md-8" th:text="${teacherInfo.teacherJob}"></div>-->
                                    <!--                                    </div>-->

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">이메일</div>
                                        <div class="col-lg-9 col-md-8" th:text="${teacherInfo.teacherEmail}"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">연락처</div>
                                        <div class="col-lg-9 col-md-8" th:text="${teacherInfo.teacherPhone}"></div>
                                    </div>
                                </div>

                                <!-- 정보 수정 -->
                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                    <form th:action="@{updateProcess}" id="updateProfileForm" method="post"
                                          enctype="multipart/form-data">
                                        <!-- 이메일 수정 -->
                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-lg-3 col-form-label">이메일</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="teacherEmail" type="text" class="form-control" id="Email"
                                                       th:value="${teacherInfo.teacherEmail}">
                                            </div>
                                        </div>

                                        <!-- 연락처 수정 -->
                                        <div class="row mb-3">
                                            <label for="Phone" class="col-md-4 col-lg-3 col-form-label">연락처</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="teacherPhone" type="text" class="form-control" id="Phone"
                                                       th:value="${teacherInfo.teacherPhone}">
                                            </div>
                                        </div>

                                        <!-- 프로필 이미지 수정 -->
                                        <div class="row mb-3">
                                            <label for="teacherProfileImage" class="col-md-4 col-lg-3 col-form-label">프로필
                                                이미지</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div>
                                                    <!-- 드래그 앤 드롭 영역 -->
                                                    <div id="dropZone" class="drop-zone">
                                                        <p>이미지를 이곳에 드래그 앤 드롭하거나 클릭하여 업로드하세요.</p>
                                                        <img id="previewImage" src="" alt="미리보기" style="display: none;">
                                                    </div>
                                                    <!-- 실제 파일 입력 (숨김 처리) -->
                                                    <input class="form-control" type="file" id="teacherProfileImage"
                                                           name="teacherProfileImage"
                                                           style="display: none;">
                                                    <button type="submit" class="btn btn-danger mt-2 float-end"
                                                            id="imgDeleteBtn"
                                                            style="display: none;">
                                                        삭제&nbsp;&nbsp;<i class="bi bi-trash"></i>
                                                    </button>
                                                </div>

                                                <!--                                                <div id="showProfile" th:if="${teacherInfo.teacherImgName != null}">-->
                                                <!--                                                    <img th:src="@{/resources/static/uploadFiles/profileImageUpload/}{${teacherInfo.teacherImgName}}"-->
                                                <!--                                                         alt="Profile" class="rounded-circle">-->
                                                <!--                                                </div>-->
                                                <!--                                                <div id="showDefault" th:if="${teacherInfo.teacherImgName == null}">-->
                                                <!--                                                    <img th:src="@{/img/default_profile.jpg}"-->
                                                <!--                                                         alt="Default Profile" class="rounded-circle">-->
                                                <!--                                                </div>-->
                                                <!--                                                <div class="pt-2">-->
                                                <!--                                                    <input type="file" name="profileImage" id="profileImage"-->
                                                <!--                                                           class="form-control"/>-->
                                                <!--                                                    <span id="filename" style="display: block; margin-top: 5px;"></span>-->
                                                <!--                                                </div>-->
                                            </div>
                                        </div>

                                        <div class="text-center" style="float: right;">
                                            <button type="submit" class="btn btn-primary">수정 완료</button>
                                        </div>
                                    </form>
                                </div>

                                <!-- 비밀번호 변경 -->
                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <form th:action="@{changePassword}" id="changePasswordForm" method="post">
                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재
                                                비밀번호
                                                입력</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" class="form-control"
                                                       id="currentPassword">
                                                <span id="currentPasswordMessage" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">새 비밀번호
                                                입력</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="newPassword" type="password" class="form-control"
                                                       id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">새 비밀번호
                                                재입력</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="renewPassword" type="password" class="form-control"
                                                       id="renewPassword">
                                            </div>
                                            <span id="passwordMatchMessage" class="text"></span>
                                        </div>

                                        <div class="text-center" style="float: right;">
                                            <button type="submit" class="btn btn-primary" id="changePasswordButton"
                                                    disabled>비밀번호 변경 완료
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

</div>
</body>
</html>