<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
    <link th:href="@{/css/calendar.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <script th:src="@{/js/calendar.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js"></script>

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>개인일정 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{dashboard}">개인일정</a></li>
                    <li class="breadcrumb-item active">개인일정 목록</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="card">
            <div class="card-body">
                <th:block th:if="${not #strings.isEmpty(calendarInfo)}">
                    <input type="hidden" id="googleCalendarId" th:value="${calendarInfo.googleCalendarId}">
                </th:block>
                <br>
                <th:block th:if="${#strings.isEmpty(calendarInfo)}">
                    <button class="btn btn-outline-primary btn-sm" style="float: right" id="joinGCalBtn"
                            onclick="openPopup()">
                        <img style="width:25px" th:src="@{/img/calendar.png}">&nbsp;&nbsp;구글 캘린더 연동하기
                    </button>
                    <br><br>
                </th:block>
                <div id='calendar'></div>
                <dialog>
                    <div>제목 테스트</div>
                </dialog>
                <dialog></dialog>
            </div>
        </div>
    </main><!-- End #main -->
</div>

<!-- 위로가기 버튼입니다 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

</body>
</html>

