<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>

</head>
<body>
<div layout:fragment="content">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                googleCalendarApiKey: 'AIzaSyBXFz8vCh6SbLBDmddYajLubFWJMGs2DRM',
                events: {
                    googleCalendarId: 'f42bfe4a0e07e48e56920950dbe4b49dd6a91d6c265b0af89a28cf6ab17f22bd@group.calendar.google.com'
                }
            });
            calendar.render();
        });
    </script>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>개인일정 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{dashboard}">개인일정</a></li>
                    <li class="breadcrumb-item active">개인일정 목록</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="card">
            <div class="card-body">
                 <div id='calendar'></div>
            </div>
        </div>
    </main><!-- End #main -->
</div>

<!-- 위로가기 버튼입니다 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

</body>
</html>