<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="utf-8">
    <title>약력 관리 > 약력 상세조회</title>
    <link rel="stylesheet" th:href="@{/css/profile_detail.css}">
    <script th:src="@{/js/profile_detail.js}" charset="UTF-8"></script>
</head>
<body>
<div layout:fragment="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>약력관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">약력 관리</a></li>
                    <li class="breadcrumb-item active">약력 상세조회</li>
                </ol>
            </nav>
        </div>
        <div class="form_container">
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: 30px;">
                        <div class="row mb-3 align-items-center">
                            <label class="col-sm-2 col-form-label fw-bold">약력 보기</label>
                            <div class="col-sm-10 preview-container">
                                <img th:src="${careerFilePath}" alt="career_image" id="careerImage">
                            </div>
                        </div>
                        <!-- 리스트로 돌아가기 버튼 -->
                        <a th:href="@{/teacher/profile}" class="btn-back btn-right">리스트로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->
</div>
</body>
</html>
