<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="utf-8">
    <title>강사 관리> 직원 관리</title>

</head>
<body>
<div layout:fragment="content">
<main id="main" class="main">
    <div class="pagetitle">
        <h1>직원관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">강사 관리</li>
                <li class="breadcrumb-item active">직원 관리</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <div style="margin-top: 30px;">
                <form method="get" action="/teacher">
                    <!-- 상태 체크박스 -->
                    <div class="form-row h-33 border d-flex text-center">
                        <div class="col-form-label align-self-center col-auto col-md-2 fw-bold border">상태</div>
                        <div class="input-group align-self-center">
                            <div class="form-group d-flex">
                                <!-- 전체 체크박스 -->
                                <div class="form-check my-auto mx-1">
                                    <label for="stateall">
                                        <input class="form-check-input" type="checkbox" name="state" id="stateall"
                                               value="option1"
                                               th:checked="${state == 'option1' or state == null}">
                                        전체
                                    </label>
                                </div>
                                <!-- 정상 체크박스 -->
                                <div class="form-check my-auto mx-1">
                                    <label for="stateok">
                                        <input class="form-check-input" type="checkbox" name="state" id="stateok"
                                               value="option2"
                                               th:checked="${state == 'option2'}"> 정상
                                    </label>
                                </div>
                                <!-- 중지 체크박스 -->
                                <div class="form-check my-auto mx-1">
                                    <label for="statexx">
                                        <input class="form-check-input" type="checkbox" name="state" id="statexx"
                                               value="option3"
                                               th:checked="${state == 'option3'}"> 중지
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 검색 필드 및 검색어 입력 -->
                    <div class="form-row h-33 d-flex text-center border">
                        <div class="col-form-label align-self-center col-auto col-md-2 fw-bold border">검색</div>
                        <div class="input-group align-self-center">
                            <div class="form-group col-3 col-md-auto mx-2">
                                <select class="form-select" aria-label="Default select" name="search_field">
                                    <option value="0" th:selected="${search_field == '0'}">전체</option>
                                    <option value="1" th:selected="${search_field == '1'}">이메일</option>
                                    <option value="2" th:selected="${search_field == '2'}">이름</option>
                                </select>
                            </div>
                            <div class="form-group col-4 flex-fill">
                                <input type="text" id="search_word" name="search_word" class="form-control"
                                       placeholder="검색어를 입력하세요"
                                       th:value="${search_word}">
                            </div>
                            <div class="form-group col-auto col-md-auto">
                                <button type="submit" class="btn btn-success">검색하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div style="margin-top: 30px;">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <span>Total: <span th:text="${totalItems}">0</span>건 </span>
                    <select id="itemsPerPage" style="margin-left: 10px;">
                        <option value="5" th:selected="${itemsPerPage == 5}">5</option>
                        <option value="10" th:selected="${itemsPerPage == 10}">10</option>
                        <option value="15" th:selected="${itemsPerPage == 15}">15</option>
                    </select>
                    <span style="margin-left: 5px;">건씩 보기</span>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>이름</th>
                        <th>전화번호</th>
                        <th>이메일</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="teacher, iterStat : ${teacherList}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${teacher.teacher_name}"></td>
                        <td th:text="${teacher.teacher_phone}"></td>
                        <td th:text="${teacher.teacher_email}"></td>
                        <td th:text="${teacher.deleted_at == null ? '정상' : '중지'}"></td>
                    </tr>
                    <tr th:if="${teacherList != null and #lists.isEmpty(teacherList)}">
                        <td colspan="10">데이터가 존재하지 않습니다.</td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <!-- 페이지네이션 -->
                    <ul class="pagination justify-content-center" th:if="${teacherList != null and !#lists.isEmpty(teacherList)}">
                    <li class="page-item" th:if="${currentPage > 1}">
                            <a class="page-link" th:href="@{/teacher(page=${currentPage - 1}, itemsPerPage=${itemsPerPage}, state=${state}, search_field=${search_field}, search_word=${search_word})}">이전</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{/teacher(page=${i}, itemsPerPage=${itemsPerPage}, state=${state}, search_field=${search_field}, search_word=${search_word})}" th:text="${i}"></a>
                        </li>
                        <li class="page-item" th:if="${currentPage < maxPage}">
                            <a class="page-link" th:href="@{/teacher(page=${currentPage + 1}, itemsPerPage=${itemsPerPage}, state=${state}, search_field=${search_field}, search_word=${search_word})}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main><!-- End #main -->
</div>

<script th:inline="javascript">
    // 'itemsPerPage' 변경 시 검색 조건 유지하면서 페이지 리로드
    document.getElementById('itemsPerPage').addEventListener('change', function () {
        const select = this.value;
        const page = 1;
        const state = "[[${state}]]";
        const search_field = "[[${search_field}]]";
        const search_word = "[[${search_word}]]";

        window.location.href = `/teacher?page=${page}&itemsPerPage=${select}&state=${state}&search_field=${search_field}&search_word=${search_word}`;
    });
</script>

</body>
</html>
