<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
</head>
<body>
<div layout:fragment="content">
<main id="main" class="main">
    <div class="pagetitle">
        <h1>서비스이용약관 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{dashboard}">홈페이지 관리</a></li>
                <li class="breadcrumb-item active">서비스이용약관 상세보기</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">개인정보처리방침</h5>
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">작성자</label>
                        <div class="col-sm-10" th:text="${serviceData.serviceTermName}"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">제목</label>
                        <div class="col-sm-10" th:text="${serviceData.serviceTermSubject}"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">시행 일자</label>
                        <div class="col-sm-10" th:text="${serviceData.serviceTermEffectiveDate}"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">상실 일자</label>
                        <div class="col-sm-10" th:text="${serviceData.serviceTermExpirationDate}"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">내용</label>
                        <div class="col-sm-10 pb-5">
                            <div id="editor" th:utext="${serviceData.serviceTermContent}"></div>
                        </div>
                    </div>
                </form>
                <th:block th:if="${serviceData.rnum < maxRnum}">
                    <a th:href="@{'/policy/service/detail?rnum=' + ${serviceData.rnum + 1}}" th:text="'이전 개인정보 처리방침 보기'"></a>
                </th:block>
                <button type="reset" class="btn btn-secondary btn-sm" th:onClick="|location.href='/policy/service'|" style="float: right">목록</button>
            </div>
        </div>
    </div>
</main><!-- End #main -->
</div>
</body>
</html>