<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
</head>
<body>
<div layout:fragment="content">
<main id="main" class="main">
    <div class="pagetitle">
        <h1>개인정보처리방침 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">홈페이지 관리</li>
                <li class="breadcrumb-item active">개인정보처리방침 상세보기</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">개인정보처리방침</h5>


            <form>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">작성자</label>
                    <div class="col-sm-10" th:text="${privacyData.privacyTermName}"></div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">제목</label>
                    <div class="col-sm-10" th:text="${privacyData.privacyTermSubject}"></div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">시행 일자</label>
                    <div class="col-sm-10" th:text="${privacyData.privacyTermEffectiveDate}"></div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상실 일자</label>
                    <div class="col-sm-10" th:text="${privacyData.privacyTermExpirationDate}"></div>
                </div>
                <div class="row mb-3">

                    <div style="text-align: right;">
                        <th:block th:if="${privacyData.rnum < maxRnum}">
                            <a th:href="@{'/policy/privacy/detail?rnum=' + ${privacyData.rnum + 1}}" th:text="'이전 개인정보 처리방침 보기'"></a>
                        </th:block>
                    </div>
                    <br><br>
                    <label class="col-sm-2 col-form-label">내용</label>

                    <div class="col-sm-10 pb-5">
                        <div id="editor" th:utext="${privacyData.privacyTermContent}"></div>
                    </div>
                </div>
            </form>

            <button type="reset" class="btn btn-secondary btn-sm" th:onClick="|location.href='/policy/privacy'|" style="float: right"><i class="bi bi-backspace"></i>목록</button>
            </div>
        </div>
    </div>
</main>
</div>
</body>
</html>