<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
    <style>
        #upfile {
            display: none
        }

        img {
            width: 20px;
        }

        .file-section {
            margin: 20px 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/noticeWrite.js}"></script>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>홈페이지 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">게시판</li>
                    <li class="breadcrumb-item"><a th:href="@{/board/notice}">공지사항 목록</a></li>
                    <li class="breadcrumb-item active">공지사항 등록</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card">
            <div class="card-body">
                <!-- General Form Elements -->
                <form th:action="@{/board/notice/add}" enctype="multipart/form-data" method="post" name="noticeForm"
                      id="save-form">
                    <br>
                    <h3 class="card-title">공지사항 등록</h3><br>
                    <div class="row mb-3">
                        <label for="courseId" class="col-sm-2 col-form-label fw-bold">과정명</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="과정 선택" id="courseId" name="courseId">
                                <option th:each="course : ${courselist}"
                                        th:value="${course.courseId}"
                                        th:text="${course.courseName}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="boardTypeId" name="boardTypeId" value="공지사항">
                    <div class="row mb-3">
                        <label for="boardSubject" class="col-sm-2 col-form-label fw-bold">제목</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="boardSubject" name="boardSubject">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label fw-bold">내용</label>
                        <div class="col-sm-10 pb-5">
                            <div id="editor"></div>

                            <input type="hidden" name="boardContent" id="boardContent">
                        </div>
                    </div>
                    <div class="form-group file-section">
                        <label for="upfile" class="col-sm-2 col-form-label fw-bold">파일첨부
                            <img th:src="@{/img/attach.png}" alt="파일첨부">
                            <input type="file" id="upfile" name="uploadfile">
                        </label>
                        <span id="filevalue"></span>
                    </div>
                    <div class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0 fw-bold">상단 고정</legend>
                        <div class="col-sm-10 d-flex">
                            <div class="form-check" style="padding-right: 16px;">
                                <input class="form-check-input" name="boardNotice" type="radio" id="fixed"
                                       th:value="1"
                                       checked>
                                <label class="form-check-label" for="fixed">
                                    고정
                                </label>
                            </div>
                            <div class="form-check" style="padding-right: 16px;">
                                <input class="form-check-input" name="boardNotice" type="radio" id="unfixed"
                                       th:value="0">
                                <label class="form-check-label" for="unfixed">
                                    비고정
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0 fw-bold">노출</legend>
                        <div class="col-sm-10 d-flex">
                            <div class="form-check" style="padding-right: 16px;">
                                <input class="form-check-input" name="boardExposureStat" type="radio" id="exposure"
                                       th:value="1" checked>
                                <label class="form-check-label" for="exposure">
                                    노출
                                </label>
                            </div>
                            <div class="form-check" style="padding-right: 16px;">
                                <input class="form-check-input" name="boardExposureStat" type="radio"
                                       id="hide" th:value="0">
                                <label class="form-check-label" for="hide">
                                    숨김
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="boardPassword" class="col-sm-2 col-form-label fw-bold">비밀번호</label>
                        <div class="col-sm-10">
                            <input name="boardPassword" id="boardPassword" type="password" maxlength="30"
                                   class="form-control" placeholder="Enter board_pass">
                        </div>
                    </div>
                    <div style="display: flex; gap: 10px; margin-top: 20px; float: right;">
                        <button type="button" id="save-button" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i>등록</button>
                        <button type="reset" class="btn btn-secondary btn-sm"
                                th:onClick="|location.href='/board/notice'|"><i class="bi bi-backspace"></i>목록
                        </button>

                    </div>

                </form>
            </div>
        </div><!-- End General Form Elements -->
    </main><!-- End #main -->
</div>
</body>
</html>