<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
    <style>
        select.form-control{
            width:auto;
            margin-bottom: 2em;
            display:inline-block
        }

        .rows{
            text-align: right;
        }

        .gray{
            color: gray;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/noticeList.js}"></script>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>공지사항 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">게시판</li>
                <li class="breadcrumb-item active">공지사항 목록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <th:block th:if="${listcount >0 }">
                <br>
                <div class="rows">
                    <span>줄보기</span>
                    <select class="form-control" id="viewcount">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="10" selected>10</option>
                    </select>
                </div>
                <table class="table" id="privacy-list-table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th style="text-align: center">제목</th>
                        <th>강사명</th>
                        <th style="text-align: center" data-type="date" data-format="YYYY/MM/DD">등록일</th>
                        <th style="text-align: center">조회수</th>
                        <th style="text-align: center">노출여부</th>
                        <th style="text-align: center">고정여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:with="num=${listcount-(page-1)*limit}">
                        <th:block th:each="b, iterStat : ${noticeList}">
                            <tr>
                                <td><span th:text="${num - (iterStat.index)}"></span></td>
                                <td style="text-align: center">
                                    <div>
                                        <a th:href="@{'/board/notice/detail?id=' + ${b.boardId}}">
                                            <span th:text="${b.boardSubject}"></span>
                                        </a>
                                    </div>
                                </td>
                                <td><div th:text="${b.teacherName}"></div></td>
                                <td style="text-align: center"><div th:text="${#strings.substring(b.createdAt, 0, 10)}"></div></td>
                                <td style="text-align: center"><div th:text="${b.boardReadCount}"></div></td>
                                <td style="text-align: center">
                                    <div>
                                        <span class="badge bg-primary" th:if="${b.boardExposureStat == 1}">노출</span>
                                        <span class="badge bg-secondary" th:if="${b.boardExposureStat == 0}">숨김</span>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <div>
                                        <span class="badge bg-primary" th:if="${b.boardNotice == 1}">고정</span>
                                        <span class="badge bg-secondary" th:if="${b.boardNotice == 0}">비고정</span>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
                <div class="listcount">
                    <span>글 개수 : [[${listcount}]]</span>
                </div>
                <th:block th:replace="~{fragments/policyPaging :: paging('notice', '')}"/>
            </th:block>
            <h6 th:if="${listcount == 0}" style="text-align: center; margin-top: 2rem;">등록된 공지사항이 없습니다.</h6>
            <button type="button" class="btn btn-outline-primary btn-sm" style="float: right"
                    th:onclick="|location.href='notice/write'|">게시글 등록<i class="bi bi-pencil"></i>
            </button>
        </div>
    </div>

</main><!-- End #main -->
</div>

<!-- 위로가기 버튼입니다 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

</body>
</html>