<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>
    <style>
        #notice-list-table th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/noticeList.js}"></script>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>공지사항 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{dashboard}">게시판</a></li>
                <li class="breadcrumb-item active">공지사항 목록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container" id="notice-list-container">
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div style="margin-top: 30px;">
                            <table th:if="${listcount > 0}" class="table table-striped text-center" id="notice-list-table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th style="text-align: center">제목</th>
                                    <th>강사명</th>
                                    <th data-type="date" data-format="YYYY/MM/DD">등록일</th>
                                    <th>조회수</th>
                                    <th>노출여부</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <h6 th:if="${listcount == null}" style="text-align: center; margin-top: 2rem;">등록된 글이 없습니다.</h6>
                        <button type="button" class="btn btn-outline-primary btn-sm writeBtn" style="float: right">게시글
                            등록
                        </button>
                    </div>
                </div>
                </div>
        </div>
    </div>
</main><!-- End #main -->
</div>

<!-- 위로가기 버튼입니다 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

</body>
</html>