<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>중앙비빔 Admin</title>

</head>

<body>
<div layout:fragment="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>홈페이지 관리</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/board/notice}">게시판</a></li>
                    <li class="breadcrumb-item active">공지사항 상세정보</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">공지사항 상세보기</h3>
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">과정명</label>
                        <div class="col-sm-10" th:text="${noticeData.courseName}"></div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">강사 이름</label>
                        <div th:text="${noticeData.teacherName}" class="col-sm-10"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">제목</label>
                        <div th:text="${noticeData.boardSubject}" class="col-sm-10"></div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">내용</label>
                        <div class="col-sm-10 pb-5">
                            <div th:utext="${noticeData.boardContent}" id="editor"></div>
                            <input type="hidden" name="boardContent" id="boardContent" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">조회수</label>
                        <div th:text="${noticeData.boardReadCount}" class="col-sm-10">0</div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">등록일</label>
                        <div th:text="${#strings.replace(noticeData.createdAt, 'T', ' ')}" class="col-sm-10">test</div>
                    </div>

                    <div class="mb-3" th:if="${not #strings.isEmpty(noticeData.boardFilePath)}">
                        <label class="col-sm-2 col-form-label">업로드 파일</label>
                        <span >
                            [[${noticeData.boardFileOriginName}]]
                        </span>
                        <a th:href="@{/board/notice/fileDownload/{boardId}(boardId=${noticeData.boardId})}"
                           th:download="${noticeData.boardFileOriginName}">
                            <i class="bi bi-download" style="font-size: 1.5rem;"></i>
                        </a>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" style="vertical-align: middle;">노출</label>
                        <div class="col-sm-10 d-flex align-items-center">
                            <span class="badge bg-primary" style="font-size: 0.75rem;"
                                  th:if="${noticeData.boardExposureStat == 1}">노출</span>
                            <span class="badge bg-secondary" style="font-size: 0.75rem;"
                                  th:if="${noticeData.boardExposureStat == 0}">숨김</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" style="vertical-align: middle;">고정</label>
                        <div class="col-sm-10 d-flex align-items-center">
                            <span class="badge bg-primary" style="font-size: 0.75rem;"
                                  th:if="${noticeData.boardNotice == 1}">고정</span>
                            <span class="badge bg-secondary" style="font-size: 0.75rem;"
                                  th:if="${noticeData.boardNotice == 0}">비고정</span>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <button type="reset" class="btn btn-primary btn-sm"
                th:onclick="|location.href='/board/notice'|"
                style="float: right; margin: 5px;"><i class="bi bi-backspace"></i>목록
        </button>

        <a href="#">
            <button class="btn btn-danger btn-sm"
                    style="float: right; margin: 5px;"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"><i class="bi bi-trash"></i>삭제
            </button>
        </a>

        <a th:href="@{'modify?id='+ ${noticeData.boardId}}"
           class="btn btn-success btn-sm"
           style="float: right; margin: 5px;"><i class="bi bi-pencil"></i>수정</a>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form name="deleteForm" th:action="@{/board/notice/delete}" method="post">
                            <input type="hidden" name="boardId" th:value="${noticeData.boardId}" id="boardId">
                            <div class="form-group">
                                <label for="boardPassword">비밀번호</label>
                                <input type="password"
                                       class="form-control" placeholder="Enter password"
                                       name="boardPassword" id="boardPassword">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">전송</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered">

            <tr th:if="${nextData != null}">
                <td class="col-sm-2 col-form-label">다음 글</td>
                <td>
                    <a th:href="@{'detail?id=' + ${nextData.boardId}}" th:text="${nextData.boardSubject}"></a>
                </td>
            </tr>

            <tr th:if="${preData != null}">
                <td class="col-sm-2 col-form-label">이전 글</td>
                <td>
                    <a th:href="@{'detail?id=' + ${preData.boardId}}" th:text="${preData.boardSubject}"></a>
                </td>
            </tr>

        </table>
        <p th:text="${result}">Result not available</p>
    </main>
    <script th:inline="javascript">
        $(document).ready(function () {
            // Thymeleaf 변수를 JavaScript로 전달할 때 [[${result}]]를 사용
            const result = /*[[${result}]]*/ 'default'; // 기본값 'default'로 설정

            console.log("Result value:", result); // 디버깅용

            // result 값이 passFail인 경우 alert 표시
            if (result === 'passFail') {
                alert("비밀번호가 일치하지 않습니다.");
            }

            $("form[th\\:action='@{/board/notice/delete}']").submit(function () {
                const passwordInput = $("#boardPassword");
                if (passwordInput.val().trim() === '') {
                    alert("비밀번호를 입력하세요.");
                    passwordInput.focus();
                    return false;
                }
            });
        });
    </script>
</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

</body>
</html>